---
---
@charset "utf-8";

$base-font-family: 'Open Sans', sans-serif;;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"normalize",
		"bourbon/bourbon",
        "neat/neat",
        "base/base",
        "syntax-highlighting"
;

//Stand-by page 

html {
  height: 100%;
}

body {
  text-align: center;
  color: $white;
  font-family: 'Open Sans', sans-serif;
  background: rgb(60,142,215);
  background: -moz-linear-gradient(top, rgba(60,142,215,1) 0%, rgba(131,232,214,1) 100%);
  background: -webkit-linear-gradient(top, rgba(60,142,215,1) 0%,rgba(131,232,214,1) 100%);
  background: linear-gradient(to bottom, rgba(60,142,215,1) 0%,rgba(131,232,214,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c8ed7', endColorstr='#83e8d6',GradientType=0 );
  background-repeat: no-repeat;
}

.page-container {
  @include outer-container();
  max-width: $medium-screen;
  padding: 0 $base-spacing;
}

.drone-container {
  position: relative;
  height: 238px;
  margin-top: 60px;
  
  @include media (max-width $large-screen){
    margin-top: 0;
  }
}

//drone image
img.drone {
  width: 300px;
  max-width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 4em auto 0;
  -moz-animation: drone 8s infinite ease;
  -webkit-animation: drone 8s infinite ease;
  animation: drone 8s infinite ease;
  }

@-moz-keyframes drone {
  0%   {top: 0; transform: rotate(2deg);}
  25%  {top: 15px; transform: rotate(0deg); left: 20px}
  50%  {top: 0px; transform: rotate(-2deg);}
  75%  {top: 15px; transform: rotate(0deg); left: -20px}
  100% {top: 0px; transform: rotate(2deg);}
} 

@-webkit-keyframes drone {
  0%   {top: 0; transform: rotate(2deg);}
  25%  {top: 15px; transform: rotate(0deg); left: 20px}
  50%  {top: 0px; transform: rotate(-2deg);}
  75%  {top: 15px; transform: rotate(0deg); left: -20px}
  100% {top: 0px; transform: rotate(2deg);}
} 

@keyframes drone {
  0%   {top: 0; transform: rotate(2deg);}
  25%  {top: 15px; transform: rotate(0deg); left: 20px}
  50%  {top: 0px; transform: rotate(-2deg);}
  75%  {top: 15px; transform: rotate(0deg); left: -20px}
  100% {top: 0px; transform: rotate(2deg);}
} 
