<div class="footer page-container footer-outlined">
 <!--
  <span class="block-mobile"><img src="{{site.baseurl}}images/wings.png" alt="DAA"></span>
  <p>Brought to you by the Drone Aviator Association. We stand <br class="block-mobile">in the gap between your love for drones, and the <br class="block-mobile">government's love for paperwork.</p>-->
  <p>Our executive team was invited to speak on a master panel at Black Hat USA 2016 on The impact of Drones an Emerging Technologies, IoT, and Cybersecurity. <a href="{{site.baseurl}}blackhat/">Black Hat attendees click here.</a></p>
</div>
