@import
		"guide",
        "blackhat"
;

html {
  min-height: 100%;
}

body {
  text-align: center;
  color: $white;
  font-family: 'Open Sans', sans-serif;
  background: rgb(60,142,215);
  background: -moz-linear-gradient(top, rgba(60,142,215,1) 0%, rgba(131,232,214,1) 100%);
  background: -webkit-linear-gradient(top, rgba(60,142,215,1) 0%,rgba(131,232,214,1) 100%);
  background: linear-gradient(to bottom, rgba(60,142,215,1) 0%,rgba(131,232,214,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c8ed7', endColorstr='#83e8d6',GradientType=0 );
  background-repeat: no-repeat;
}

a {
  color: $teal;
  
  &:hover {
    text-decoration: none;
  }
}

.page-container {
  @include outer-container();
  padding: 0 $base-spacing;
  
  .content-guide & {
    padding: ($base-spacing/3)*2 $base-spacing;
  }
  
  .guide & {
    max-width: em(600);
  }
}

.drone-container {
  position: relative;
  height: 230px;
  
  @include media (max-width $large-screen){
    margin-top: 0;
  }
}

.head-img-container {
  .img-done {
    margin-bottom: 15px;
    margin-top: 80px;
    max-width: 120px;
  }
}

.footer { 
  color: $teal;
  font-size: $base-font-size*.75;
  margin-top: 3.75em;
  
  @include media ($medium-screen){
    //font-style: italic;
    margin-top: 3em;
    
    p {
      font-size: 1.1em;
    }
  }
  
  &.footer-outlined {
    border: 1px solid rgba(0,126,132,.5);
    border-radius: 7px;
    background: rgba(0,126,132,.15);
    max-width: 780px;
    margin: $base-spacing*2 auto;
    padding: $small-spacing $base-spacing 0;
    text-align: left;
    
    @include media (max-width em(820)){
    margin: $base-spacing*2 $base-spacing;
    }
    
    @include media (max-width em(650)){
      text-align: center;
    }
  }
}

//helper classes

.txt-right { text-align: right; }
.txt-blue { color: $blue; }
.txt-teal { color: $teal; }
.caps { text-transform: uppercase; }
.image-left {
  float: left;
  margin-right: $small-spacing;
  
  .home & {
    max-width: 118px;
    image-rendering: optimizequality;
    @include media (max-width em(650)){
      float: none;
      display: block;
      left: 50%;
      margin-bottom: 0.75em;
      position: relative;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
}

.break-mobile {
    @include media ($medium-screen){
    display: none;
  }
}

.break-desktop {
    @include media (max-width $medium-screen){
    display: none;
  }
}

.block-mobile {
  display: block;
  
  @include media ($medium-screen){
    display: none;
  }
}

.block-desktop {
  display: none;
  
  @include media ($medium-screen){
    display: block;
  }
  
  &.form-desktop + div {
    display: none;
  
    @include media ($medium-screen){
      display: block;
      max-width: 390px;
      margin: 0 auto;
    }
  }
}

//page-specific

.form-blackhat + div {
  display: block;
  max-width: 390px;
  margin: 0 auto;
}

.done {
  .txt-teal.txt-small {
    margin-top: -1em;
    font-size: .8em;
  }
}
