body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

//coming soon page

h1 {
  font-size: $base-font-size*1.9;
  margin-bottom: -.25em;
}

p {
  font-size: $base-font-size;
  padding: 0 1.5em;
  line-height: 1.4;
  
  @include media (max-width $small-screen){
    font-size: 1.15em;
    padding: 0;
  }
}

//end coming soon page
