body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1 {
  font-size: $base-font-size*1.15;
  
  @include media ($medium-screen){
    font-size: $base-font-size*1.95;
    margin-bottom: .5em;
  }
  
  .done & { 
    letter-spacing: -1px;
    margin-bottom: .35em;
  }
}

p {
  font-size: $base-font-size*.95;
  line-height: 1.35;
  margin: 0 0 .9em;
  
  &.push-down {
    margin: 0 0 1.75em;
  }  
  
  @include media ($medium-screen){
    font-size: $base-font-size;
  }
}

strong { font-weight: 600; }
.txt-thin { 
  font-weight: 300;
  font-size: 1.25em;
  margin-bottom: .8em;
  
  .done & { letter-spacing: -.2px; }
}

.txt-small {
  font-size: .85em;
  line-height: 2;
}
